.banner{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1140px;
    height: 520px;
    position: relative;
}
.banner-img{
	position: absolute;
	width: 1140px;
	top: 0;
}
.a-img{
	width: 100%;
	height: 520px;
}
.banner::after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}
.container-first{
	margin-top: 50px;
}
.first-div1{
	width: 25%;
	position: relative;
    float: left;
}
.container-div-a{
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}
.container-div-img{
	display: block;
	width: 100%;
}
.first-div2{
	width: 50%;
	float: left;
}
.first-div3{
	width: 25%;
    float: left;
}
.container-first::after{
content: "";
display: block;
clear: both;
}
.container-second{
	margin-top: 50px;
	width: 1170px;
	height: 358px;
	position: relative;
	
}
.second-div1{
	width: 50%;
	float: left;
}
.second-div2{
	width: 50%;
	float: left;
}
.second-div-a{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}
.second-div-img{
	width: 100%;
}
.container-third{
	margin-top: 50px;
}
.container-third::after{
content: "";
display: block;
clear: both;
}
.num-title-en{
	text-align: center;
}
.num-title-cn{
	text-align: center;
	 margin-bottom: 30px;
}
.title-en{
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 8px;
}
.title-cn{
	font-size: 21px;
    text-align: center;
    letter-spacing: 8px;
  
}
.third-ul{
	/*width: 1140px;*/
}
.third-li{
	position: relative;
    float: left;
    width: 20%;
}
.third-li-a{
	display: block;
	padding: 0 10px;
}
.third-img{
	width: 100%;
}
.third-span{
	position: absolute;
    display: block;
    bottom: -20px;
    left: 50%;
    width: 130px;
    height: 60px;
    margin-left: -65px;
    font-size: 14px;
    text-align: center;
    background: #fff;
}
.third-name-en{
     display: block;
    margin-top: 5px;
    text-transform: uppercase;
}
.container-forth{
	margin-top: 50px;
}
.forth-table{
display: block;
	width: 1170px;
}
.forth-tr{
	width: 1170px;
}
.forth-td-first{
	width: 34%;
}
.forth-td-a{
	display: block;
	/*padding: 0 10px;*/
}
.forth-td-img{
	height: 100%;
	/*width: 100%;*/
}
.forth-td-more{
	width: 22%;
}
